#game-settings {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-settings-body {
    text-align: center;
    justify-content: center;
}

#game-settings-headline {
    font-size: 32px;
    font-weight: bold;
}

#game-settings-letter-headline {
    font-size: 20px;
    margin-bottom: 5px;
}

#game-settings-timer-headline {
    font-size: 20px;
    margin-top: 15px;
}

#game-settings-verify-word-headline {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.game-settings-letter-container {
    display: flex;
    justify-content: center;
}

.game-settings-letter {
    width: 18px;
    background-color: white;
    border: 1px solid #008080;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px 5px 0px 5px;
    padding: 5px;
}

#game-settings-timer-input {
    font-size: 18px;
    text-align: center;
    border-color: #008080;
    outline-color: #008080;
    width: 40%;
    margin-top: 15px;
    padding: 5px;
}

#game-settings-verify-words-checkbox-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

#game-settings-verify-words-checkbox {
    transform: scale(2);
    accent-color: #FFFFFF;
    display: block;
    margin-top: 15px;
}

#game-settings-letter-random-button {
    width: 90%;
    font-size: 16px;
    margin-top: 18px;
}

#game-settings-continue-button {
    width: 90%;
    font-size: 16px;
    margin-top: 18px;
}
