#letter-selection {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#letter-selection-body {
    text-align: center;
    justify-content: center;
}

#letter-selection-headline {
    font-size: 32px;
    font-weight: bold;
}

#letter-selection-random-button {
    width: 90%;
    font-size: 18px;
    margin-top: 18px;
}

#letter-selection-continue-button {
    width: 90%;
    font-size: 18px;
    margin-top: 18px;
}
