#group-selection {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#group-selection-body {
    text-align: center;
    justify-content: center;
}

#group-selection-headline {
    font-size: 32px;
    font-weight: bold;
}

#group-selection-input {
    font-size: 25px;
    text-align: center;
    border-color: #008080;
    outline-color: #008080;
    width: 90%;
    padding: 5px;
}

#group-selection-participants {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-selection-participant {
    width: fit-content;
    background-color: white;
    border: 1px solid #008080;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    padding: 5px;
}

.group-selection-delete-icon {
    display: inline-flex;
    vertical-align: top;
    padding-top: 1.5px;
}

#group-selection-add-button {
    width: 90%;
    font-size: 16px;
    margin-top: 18px;
}

#group-selection-continue-button {
    width: 90%;
    font-size: 16px;
    margin-top: 18px;
}
